In [ ]:
n=int(input('enter n value='))
print('given number is',n)
r=n%2
if (r==0):
    print(n,"is an even number")
else:
     print(n,"is an odd number")

enter n value=55
given number is 55
55 is an odd number

In [ ]:
age=int(input("enter the age="))
if age>18:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

enter the age=20
you are eligible for voting

In [ ]:
N=int(input("YEAR="))
R=N%4
if (R==0):
    print(N,"IS A LEAP YEAR")
else:
    print(N,"IS NOT A LEAP YEAR")

YEAR=2025
2025 IS NOT A LEAP YEAR

In [ ]:

N=float(input("COST OF THE PRODUCT="))
D=float(input("DISCOUNT IN PERCENTAGE="))
if N>=499:
    M=(D/100)*N
    print("TOTAL COST OF THE PRODUCT=",N-M)
else:
    print("TOTAL COST OF THE PRODUCT=",N)

COST OF THE PRODUCT=500
DISCOUNT IN PERCENTAGE=10
TOTAL COST OF THE PRODUCT= 450.0

In [ ]:
character=input("enter a character")
if character.isupper():
    print("THE CHARACTER IS UPPER CASE")
elif character.islower():
     print("THE CHARACTER IS LOWER CASE")
else:
    print("NOT UPPER NOT LOWER CASES")

enter a characterMT
THE CHARACTER IS UPPER CASE

In [ ]:
NUMBER=int(input("NUMBER="))
if NUMBER>0:
    print(NUMBER,"IS POSITIVE NUMBER")
else:
    print(NUMBER,"IS NEGATIVE NUMBER")

NUMBER=20
20 IS POSITIVE NUMBER

In [ ]:
N=int(input("enter the rows="))
for i in range(1,N+1):
    for j in range(i):
        print('*',end='')
    print()

enter the rows=5
*
**
***
****
*****

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        result = i*j
        if result<10:
            print( f"0{result}",end=" ")
        else:
            print(f"{result}",end=" ")

    print()

01 02 03 04 05 06 07 08 09 10
02 04 06 08 10 12 14 16 18 20
03 06 09 12 15 18 21 24 27 30
04 08 12 16 20 24 28 32 36 40
05 10 15 20 25 30 35 40 45 50
06 12 18 24 30 36 42 48 54 60
07 14 21 28 35 42 49 56 63 70
08 16 24 32 40 48 56 64 72 80
09 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
N=int(input("N="))
for p in range(2,N+1):
    c=0
    for i in range(1,p+1):
        if(p%i==0):
            c=c+1
    if(c==2):
        print(p)

N=50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
N=int(input("N="))
a=0
b=1
for i in range(1,N):
    c=a+b
    print(c)
    a=b
    b=c

N=5
1
2
3
5

In [ ]:
def generate_pascals_triangle(n):
    triangle = []

    for i in range(n):
        row = [1] * (i + 1)

        if i > 1:
            for j in range(1, i):
                row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]

        triangle.append(row)

    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)).center(len(triangle[-1]) * 3))

def main():
    try:
        n = int(input("Enter the number of rows for Pascal's triangle: "))
        if n < 0:
            raise ValueError("Number of rows should be a non-negative integer.")
    except ValueError as e:
        print(f"Error: {e}")
        return

    pascals_triangle = generate_pascals_triangle(n)
    print_pascals_triangle(pascals_triangle)

if __name__ == "__main__":
    main()

Enter the number of rows for Pascal's triangle: 10
              1
             1 1
            1 2 1
           1 3 3 1
          1 4 6 4 1
        1 5 10 10 5 1
       1 6 15 20 15 6 1
     1 7 21 35 35 21 7 1
    1 8 28 56 70 56 28 8 1
 1 9 36 84 126 126 84 36 9 1